/*Alisson's Code!*/
html, body {
    height: 100%;
    margin: 0;
}
#menu{
    position: fixed;
    top: 40px;
    min-height: calc(100% - 41px);
    background: #eeeeee;
    width: 150px;
    transition: transform ease-in-out 0.25s;
    z-index: 1;
    border: solid black thin;
}

#menu.closed {
    transform: translateX(-150px);
}

#star-selector {
    width: 125px;
}

.two-column {
    display: grid;
    grid-template-columns: auto 30px;
}

label {
    padding: 3px 0;
}

main {
    margin-top: 0;
}

#search-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 40px;
    z-index: 1;
}

#search-bar > * {
    height: 100%;
}

body{
    text-align: center;
    background-color: blue;
    background-image: linear-gradient(to left, rgb(204, 255, 238) , rgba(248, 248, 200, 0.87))
}
.header{
    position: relative;
    width: 100%;
    display: inline-block;
}

.header > p {
    font-family: fangsong;
}

.header > * {
    margin-bottom: 0;
    height: 100%;
}

#menu-opener{
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    background:white;
    background-image: url('hamburger.svg');
    background-position: left;
    background-repeat: no-repeat;
    padding: 0.5em 0.5em 0.5em 30px;
    z-index: 2;
}

#home {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    background:white;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

footer{
    text-align: center;
    position: relative;
    margin-top: 2em;
}

.resource-entry {
    position: relative;
    margin: 1em 0;
    padding: .5em;
    border: solid medium black;
    background-color: white;
}

p {
    padding: 0;
    margin: 0;
}

p.filter-category {
    margin: 1em 0;
    font-weight: bold;
}

.preview {
    float: right;
    height:60px;
    width: auto;
}

.resource-entry > .rating {
    float: right;
}

.tags {
    display: inline-block;
    border-radius: 16px;
    margin: 8px 2px 4px 2px;
    background-color: #ddd;
    border: none;
    padding: 0.1em 0.75em;
    text-decoration: none;
}

.star-grouping {
}